.button a {
    position: relative;
    display: flex;
    justify-content: center;
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    margin: 0px 550px;
    border-radius: 5px;
}

.button {
    padding-top: 30px;
    padding-bottom: 30px;
}

.detel {
    display: flex;
    flex-direction: row;
    margin-left: 8%;
    padding-top: 2%;
    padding-bottom: 8%;
}

.detel h1 {

    font-size: 50px;
    color: #212121;
}

span {
    color: orange;
}

p {
    font-size: 20px;
    text-align: center;
}

.detel p {
    color: #555;
    line-height: 22px;
}

.detel .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -7%;
    margin-left: 5%;
}

.content {
    align-items: center;
}

.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-container:hover>.project:not(:hover) {
    filter: blur(4px);
}

.project:hover {
    box-shadow: 0px 0px 100px 10px #5490ff;
}

.project {
    width: 250px;
    height: 400px;
    border: solid 3px black;
    border-radius: 5px;
    background-color: #dfeaff;
}

.project .image img {
    width: 250px;
}

.project h1 {
    text-align: center;
}

.project p {
    font-size: 16px;
    text-align: center;
    color: #555;
}

.project-button {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.project-button a {
    position: relative;
    display: flex;
    justify-content: center;
    background: #212121;
    padding: 5px 8px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 15px;
    color: #fff;
    border-radius: 5px;
}