.detel{
    margin-left: 8%;
    padding-top: 4%;
    padding-bottom: 15%;
}

.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span{
    color: orange;
}

p{
    font-size: 20px;
}

.detel p{
    color: #555;
    line-height: 22px;
}

.image{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.image img{
    height: 100%;
    position: absolute;
    left: 70%;
    bottom: 23%;
    transform: translateX(-70%);
    transition: bottom 1s ,left 1s;
}
.shape{
    width: 500px;
}
.image:hover .shape{
    bottom: 40px;
}
.image:hover .boy{
    left: 60%;    
}
.map{
    background: #eff4fd;
}
.mapouter{
    position:relative;
    text-align:right;
    width:644px;
    height:353px;
    margin-left: 30%;
    padding-top: 40px;
    background: #eff4fd;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    width:644px;
    height:300px;
    border: solid 5px orange;
    border-radius: 15px;
}
.gmap_iframe {
    width:644px!important;
    height:300px!important;
}
